* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* Title */

.title {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: #F55A5A;
}

.title--icon {
    align-self: center;
    color: white;
    font-size: 24px;
}

.title--text {
    padding-left: 5px;
    color: white;
}

/* cards */

.cards--list {
    padding: 50px 40px 30px 40px;
}

.card {
    display: flex;
    
}



.card--content {
    padding-top: 10px;
}

.card:not(:last-child) {
    margin-bottom: 20px;
    border-bottom: 1px solid #F5F5F5;
}

.card--image-url {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card--location {
    display: flex;
    line-height: 0;
}

.card--location-icon {
    align-self: center;
    color: #F55A5A;
    margin-right: 5px;
    width: 7px;
    height: 10px;
}

.card--location-name {
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    margin-right: 15px;
    color: #2B283A;
}

.card--location-link {
    align-self: center;
    font-size: 11px;
    color: #918E9B;
}

.card--title-name {
    color: #2B283A;
    line-height: 0;
    margin-bottom: 40px;
}

.card--date {
    font-size: 11px;
    font-weight: bold;
    line-height: 0;
    color: #2B283A;
}

.card--description {
    color: #2B283A;
    font-size: 11px;
}